<div class="col-xs-12 col-sm-6">
  <div class="tabs-container">
    <ul id="homeTabs" class="nav nav-pills" role="tablist">
      <li class="active" role="tab"><a href="#featured_container" data-toggle="tab" id="featureTab"><%= t('hyrax.homepage.featured_works.tab_label') %></a></li>
      <li role="tab"><a href="#recently_uploaded" data-toggle="tab" id="recentTab"><%= t('hyrax.homepage.recently_uploaded.tab_label') %></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="featured_container" role="tabpanel" aria-labelledby="featureTab">
        <%= render 'featured_works' %>
      </div>
      <div class="tab-pane" id="recently_uploaded" role="tabpanel" aria-labelledby="recentTab">
        <%= render 'recently_uploaded', recent_documents: @recent_documents %>
      </div>
    </div>
  </div>
</div><!-- /.col-xs-6 -->

<div class="col-xs-12 col-sm-6">

  <ul class="nav nav-pills">
    <li class="active"><h1 class="featured"><%= t('hyrax.homepage.featured_researcher.tab_label') %></h1></li>
  </ul>

  <div id="publication-content" class="tab-content">
    <div class="tab-pane active">
<!--
      <h2 class="sr-only"><%= t('hyrax.homepage.admin_sets.title') %></h2>
      <%= render 'explore_collections', collections: @presenter.collections %>
    </div>
    <div class="tab-pane" id="tab-col2-second">
-->
      <h2 class="sr-only"><%= t('hyrax.homepage.featured_researcher.title') %></h2>
      <%= render 'featured_researcher' %>
    </div>
  </div>
</div>
