<% provide :page_title, "Forgot your password?" %>
<div class="login-container">
    <h1>Forgot your password?</h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
        <p><%= f.label :email %></p>
        <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
    </div>

    <div class="actions reset-actions">
        <%= f.submit "Send me password reset instructions" %>
    </div>
    <% end %>

    <div class="login-return">
        <%= link_to main_app.new_user_session_path, aria: current_page?(main_app.new_user_session_path) ? {current: 'page'} : nil do %>
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Return to staff login page
        <% end %>
    </div>
</div>