     <footer class="footer">
        <div class="footer-lower">
          <div class="container">
            <div class="footer-wrapper">
	      <div class="navbar-text text-left">
		<div class="col-5">
		<div class="logo">
			<%= image_tag 'footer_logo.png', alt: 'GW Logo' %>
		</div>
		</div>
              </div>
              <div id="footer-links" class="col-4">
                <div class="row-one">
				<div class="login-link">
		    <% if !user_signed_in? %>
                      <p id="login-link"><%= link_to main_app.new_user_session_path do %>
                      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> <%= t("hyrax.toolbar.profile.login") %>
	              <% end %>
                    <% end %></p>
		  </div>
<ul>
			<li>
			 <a href="https://campusadvisories.gwu.edu/?utm_medium=link&amp;utm_campaign=lai-footer&amp;utm_source=campus-advisories" aria-label="Campus Advisories; link opens in new window, opens in a new window" rel="noopener" target="_blank">Campus Advisories</a>
			</li>
			<li>
			  <a href="https://compliance.gwu.edu/equal-opportunity-nondiscrimination-anti-harassment-and-non-retaliation?utm_medium=link&amp;utm_campaign=lai-footer&amp;utm_source=EEO-nondiscrimination-policy" aria-label="EO/Nondiscrimination Policy; link opens in new window, opens in a new window" rel="noopener" target="_blank">EO/Nondiscrimination Policy</a>
			</li>
			<li>
			  <a href="https://www.gwu.edu/privacy-notice?utm_medium=link&amp;utm_campaign=lai-footer&amp;utm_source=privacy-notice" aria-label="Website Privacy Notice; link opens in new window, opens in a new window" rel="noopener" target="_blank">Website Privacy Notice</a>
			</li>
		  </ul>
                </div>
                <div class="row-two">
                  <ul>
                    <li>
                      <a href="https://www.gwu.edu/contact-gw?utm_medium=link&amp;utm_campaign=lai-footer&amp;utm_source=contact-gw" aria-label="Contact GW; link opens in new window, opens in a new window" rel="noopener" target="_blank">Contact GW</a>
                    </li>
			<li>
			  <a href="https://accessibility.gwu.edu/?utm_medium=link&amp;utm_campaign=lai-footer&amp;utm_source=accessibility" aria-label="Accessibility; link opens in new window, opens in a new window" rel="noopener" target="_blank">Accessibility</a>
			</li>
			<li>
			  <a href="https://www.gwu.edu/terms-use?utm_medium=link&amp;utm_campaign=lai-footer&amp;utm_source=terms-use" aria-label="Terms of Use; link opens in new window, opens in a new window" rel="noopener" target="_blank">Terms of Use</a>
			</li>
			<li>
			  <a href="https://www.gwu.edu/copyright?utm_medium=link&amp;utm_campaign=lai-footer&amp;utm_source=copyright" aria-label="Copyright; link opens in new window, opens in a new window" rel="noopener" target="_blank">Copyright</a>
			</li>
			<li>
			  <a href="https://accessibility.gwu.edu/report-barrier-accessibility?utm_medium=link&amp;utm_campaign=lai-footer&amp;utm_source=report-barrier-accessibility" aria-label="Report a Barrier to Accessibility; link opens in new window, opens in a new window" target="_blank">Report a Barrier to Accessibility</a>
			</li>
		  </ul>
                </div> 
                <div class="row-three"><ul>
						<li>
		  <div>
                    <p><%= t('hyrax.product_name') %> v<%= t('hyrax.local_product_version') %>, built on <a href="https://hyrax.samvera.org/" class="navbar-link" target="_blank">Hyrax</a> v<%= Hyrax::VERSION %></p>
		  </div></li></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
	</div>
      </footer>
