<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p><%= t('hyrax.footer.service_html') %></p>
        <p><%= t('hyrax.product_name') %> v<%= t('hyrax.local_product_version') %>, built on <a href="http://hyr.ax/" class="navbar-link" target="_blank">Hyrax</a> v<%= Hyrax::VERSION %></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p><%= t('hyrax.footer.copyright_html') %></p>
        <p><%= t('hyrax.background_attribution_html') %></p>
        <% if !user_signed_in? %>
           <p><%= link_to main_app.new_user_session_path do %>
           <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> <%= t("hyrax.toolbar.profile.login") %>
           <% end %></p>
        <% end %>
      </div>
    </div>
  </div>
</footer>
