<% if Hyrax.config.display_media_download_link? && can?(:download, file_set.id) %>
    <div>
      <h2 class="sr-only"><%= t('hyrax.file_set.show.downloadable_content.heading') %></h2>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "Preview of #{file_set.title[0]}",
                    role: "presentation" %>
      <%= link_to t('hyrax.file_set.show.downloadable_content.image_download'),
                  hyrax.download_path(file_set, :disposition => "attachment"),
                  data: { label: file_set.id },
                  target: :_blank,
                  id: "file_download" %>
      <p></p>
      <%= link_to t('hyrax.file_set.show.downloadable_content.image_new_tab'),
            hyrax.download_path(file_set, :disposition => "inline"),
            data: { label: file_set.id },
            target: :_blank,
            id: "file_download" %>
    </div>
<% else %>
    <div>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "Preview of #{file_set.title[0]}",
                    role: "presentation" %>
    </div>
<% end %>
