<% if Hyrax.config.display_media_download_link? %>
    <div>
      <h2 class="sr-only"><%= t('hyrax.file_set.show.downloadable_content.heading') %></h2>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "Preview of #{file_set.title[0]}",
                    role: "presentation" %>
      <%= link_to t('hyrax.file_set.show.downloadable_content.office_doc_download'),
                  hyrax.download_path(file_set, :disposition => "attachment"),
                  target: :_blank,
                  id: "file_download",
                  data: { label: file_set.id } %>
      <p></p>
      <%= link_to t('hyrax.file_set.show.downloadable_content.office_doc_new_tab'),
            hyrax.download_path(file_set, :disposition => "inline"),
            target: :_blank,
            id: "file_download",
            data: { label: file_set.id } %>
    </div>
<% else %>
    <div>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "Preview of #{file_set.title[0]}",
                    role: "presentation" %>
    </div>
<% end %>
