<a id="logo" class="navbar-brand" href="https://library.gwu.edu" data-no-turbolink="true"><%= image_tag 'logo.png' %></a>
<div class="title-wrap">
  <a id="product_name" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
    <span class="institution_name"><%= application_name %></span>
  </a>
  <div class="subtitle-wrap"><span class="subtitle"><%= t("A service of ") %></span><a href="https://library.gwu.edu"><%= t("Libraries & Academic Innovation") %></a></div>
</div>
